ConnectionStrings__DefaultConnection=Server=localhost,1435;Database=230022;User Id=sa;Password=Your_Strong_SA_Password123!;TrustServerCertificate=True;
RabbitMQ__ConnectionString=host=localhost;username=admin;password=admin
Smtp__Host=smtp.gmail.com
Smtp__Port=587
Smtp__Username=your-email@gmail.com
Smtp__Password=YOUR_GMAIL_APP_PASSWORD
Smtp__UseSsl=false
Smtp__FromEmail=your-email@gmail.com
Smtp__FromName=Lexor