ConnectionStrings__DefaultConnection=Server=localhost,1435;Database=YOUR_INDEX_NUMBER;User=sa;Password=YOUR_PASSWORD;TrustServerCertificate=True
JwtToken__SecretKey=SECURITY_KEY
JwtToken__DurationInMinutes=40
JwtToken__RefreshTokenDurationInDays=8
RfidDeviceApiKey=KEY_FOR_ESP32
Cors__AllowedOrigins__0=http://localhost:port
Cors__AllowedOrigins__1=http://localhost:port