ConnectionStrings__DefaultConnection=Server=localhost,1435;Database=YOUR_INDEX_NUMBER;User=sa;Password=YOUR_PASSWORD;TrustServerCertificate=True
JwtToken__SecretKey=SECURITY_KEY
JwtToken__DurationInMinutes=40
JwtToken__RefreshTokenDurationInDays=8
RfidDeviceApiKey=KEY_FOR_ESP32
Cors__AllowedOrigins__0=http://localhost:port
Cors__AllowedOrigins__1=http://localhost:port
RabbitMQ__ConnectionString=host=localhost;username=USER;password=PASSWORD
Groq__ApiKey=YOUR_GROQ_API_KEY
Groq__Model=llama-3.3-70b-versatile
Groq__BaseUrl=https://api.groq.com/openai/v1